<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propofol.www.user.portfolio">
	<!-- 
	<resultMap type="kr.co.sist.domain.Notice" id="noticeResult">
		<result column="NUM" property="num"/>
		<result column="SUBJECT" property="subject"/>
	</resultMap>
	<select id="noticeList" resultMap="noticeResult">
		SELECT NUM, SUBJECT
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY W_DATE DESC) R_NUM, NUM, SUBJECT
		      FROM DIARY)
		WHERE R_NUM BETWEEN 1 AND 5
	</select>
	 -->
	
	<!-- 포트폴리오 등록 여부 조회 -->
	<select id="writeState" parameterType="String" resultType="int">
		SELECT COUNT(USER_ID)
		FROM PORTFOLIO
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 내 포트폴리오 조회 -->
	<select id="myPortfolio" parameterType="String" resultType="com.propofol.www.user.portfolio.domain.MyPortfolioSearch">
		SELECT THUMBNAIL_IMG, TITLE, PERMIT_ST, PUBLIC_ST
		FROM PORTFOLIO
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 내 포트폴리오 등록 -->
	<insert id="insertMyPortfolio" parameterType="com.propofol.www.user.portfolio.vo.MyPortfolioVO">
		INSERT INTO PORTFOLIO (USER_ID, THUMBNAIL_IMG, TITLE, HITS, PUBLIC_ST) 
		VALUES (#{ user_id }, #{ thumbnail_img }, #{ title }, 0, #{ public_st })
	</insert>
	
	<!-- 내 포트폴리오 수정 -->
	<update id="updateMyPortfolio" parameterType="com.propofol.www.user.portfolio.vo.MyPortfolioVO">
		UPDATE PORTFOLIO
		SET THUMBNAIL_IMG = #{ thumbnail_img }, TITLE = #{ title }, PUBLIC_ST = #{ public_st }, UPDATE_DT = SYSDATE
		WHERE USER_ID = #{ user_id }
	</update>
	
	<!-- 내 포트폴리오 삭제 -->
	<delete id="deleteMyPortfolio" parameterType="String">
		DELETE FROM PORTFOLIO WHERE USER_ID = #{ user_id }
	</delete>
</mapper>