<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.propofol.www.user.portfolio">
	<!-- 
	<resultMap type="kr.co.sist.domain.Notice" id="noticeResult">
		<result column="NUM" property="num"/>
		<result column="SUBJECT" property="subject"/>
	</resultMap>
	<select id="noticeList" resultMap="noticeResult">
		SELECT NUM, SUBJECT
		FROM (SELECT ROW_NUMBER() OVER(ORDER BY W_DATE DESC) R_NUM, NUM, SUBJECT
		      FROM DIARY)
		WHERE R_NUM BETWEEN 1 AND 5
	</select>
	 -->
	
	<!-- 포트폴리오 등록 여부 조회 -->
	<select id="writeState" parameterType="String" resultType="int">
		SELECT COUNT(USER_ID)
		FROM PORTFOLIO
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 내 포트폴리오 조회 -->
	<select id="myPortfolio" parameterType="String" resultType="com.propofol.www.user.portfolio.domain.MyPortfolioSearch">
		SELECT THUMBNAIL_IMG, TITLE, PERMIT_ST, PUBLIC_ST
		FROM PORTFOLIO
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 내 포트폴리오 등록 -->
	<insert id="insertMyPortfolio" parameterType="com.propofol.www.user.portfolio.vo.MyPortfolioVO">
		INSERT INTO PORTFOLIO (USER_ID, THUMBNAIL_IMG, TITLE, HITS, PUBLIC_ST) 
		VALUES (#{ user_id }, #{ thumbnail_img }, #{ title }, 0, #{ public_st })
	</insert>
	
	<!-- 내 포트폴리오 수정 -->
	<update id="updateMyPortfolio" parameterType="com.propofol.www.user.portfolio.vo.MyPortfolioVO">
		UPDATE PORTFOLIO
		SET THUMBNAIL_IMG = #{ thumbnail_img }, TITLE = #{ title }, PUBLIC_ST = #{ public_st }, UPDATE_DT = SYSDATE
		WHERE USER_ID = #{ user_id }
	</update>
	
	<!-- 
		내 포트폴리오 삭제
		transaction 처리로 나머지 테이블도 모두 삭제되어야 한다. (추가 필요)
	 -->
	<delete id="deleteMyPortfolio" parameterType="String">
		DELETE FROM PORTFOLIO WHERE USER_ID = #{ user_id }
	</delete>
	
	<!-- 자기소개 조회 -->
	<select id="selectAboutMe" parameterType="String" resultType="com.propofol.www.user.portfolio.domain.AboutMeSearch">
		SELECT TITLE, CONTENTS, UPLOAD_IMG
		FROM ABOUT_ME
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 자기소개 등록 (최초) -->
	<insert id="insertAboutMe" parameterType="com.propofol.www.user.portfolio.vo.AboutMeVO">
		insert into about_me (user_id, upload_img, title, contents) 
		values (#{ user_id }, #{ upload_img }, #{ title }, #{ contents })
	</insert>
	
	<!-- 자기소개 적용 (수정) -->
	<update id="updateAboutMe" parameterType="com.propofol.www.user.portfolio.vo.AboutMeVO">
		UPDATE ABOUT_ME
		SET UPLOAD_IMG = #{ upload_img }, TITLE = #{ title }, CONTENTS = #{ contents }
		WHERE USER_ID = #{ user_id }
	</update>
	
	<!-- 자기소개 초기화 -->
	<!-- 
	<update id="resetAboutMe" parameterType="String">
		UPDATE ABOUT_ME
		SET UPLOAD_IMG = '/', TITLE = '', CONTENTS = ''
		WHERE USER_ID = #{ user_id }
	</update>
	 -->
	<delete id="resetAboutMe" parameterType="String">
		DELETE FROM ABOUT_ME WHERE USER_ID = #{ user_id }
	</delete>
	
	<!-- 기술 스택 조회 -->
	<select id="selectTechStacks" parameterType="String" resultType="String">
		SELECT SELECTED_TECHNIQUE
		FROM TECHNICAL_STACKS
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 기술 스택 등록 -->
	<insert id="insertTechStacks" parameterType="com.propofol.www.user.portfolio.vo.TechStacksVO">
	<foreach collection="selected_technique" item="selected_technique" open="INSERT ALL" separator=" " close="SELECT * FROM DUAL">
		INTO TECHNICAL_STACKS (USER_ID, SELECTED_TECHNIQUE)
		VALUES (#{ user_id }, #{ selected_technique })
	</foreach>
	</insert>
	
	<!-- 기술 스택 초기화 -->
	<delete id="resetTechStacks" parameterType="String">
		DELETE FROM TECHNICAL_STACKS WHERE USER_ID = #{ user_id }
	</delete>
	
	<!-- 관련 경험 조회 -->
	<select id="selectExperience" parameterType="com.propofol.www.user.portfolio.vo.ExperienceSearchVO" resultType="com.propofol.www.user.portfolio.domain.ExperienceSearch">
		SELECT EXP_CD, TITLE, CONTENTS, UPLOAD_IMG
		FROM EXPERIENCE
		WHERE USER_ID = #{ user_id }
		  AND EXP_CD = #{ exp_cd }
	</select>
	
	<!-- 관련 경험 등록 (최초) -->
	<insert id="insertExperience" parameterType="com.propofol.www.user.portfolio.vo.ExperienceVO">
		INSERT INTO EXPERIENCE (USER_ID, EXP_CD, UPLOAD_IMG, TITLE, CONTENTS)
		VALUES (#{ user_id }, #{ exp_cd }, #{ upload_img }, #{ title }, #{ contents })
	</insert>
	
	<!-- 관련 경험 수정 -->
	<update id="updateExperience" parameterType="com.propofol.www.user.portfolio.vo.ExperienceVO">
		UPDATE EXPERIENCE
		SET TITLE = #{ title }, CONTENTS = #{ contents }, UPLOAD_IMG = #{ upload_img }
		WHERE USER_ID = #{ user_id }
		  AND EXP_CD = #{ exp_cd }
	</update>
	
	<!-- 관련 경험 초기화 (삭제) -->
	<delete id="resetExperience" parameterType="String">
		DELETE FROM EXPERIENCE WHERE USER_ID = #{ user_id }
	</delete>
	
	<!-- 연락처 조회 -->
	<select id="selectTellMe" parameterType="String" resultType="com.propofol.www.user.portfolio.domain.TellMeSearch">
		SELECT PHONE_NO, EMAIL, BLOG
		FROM TELL_ME
		WHERE USER_ID = #{ user_id }
	</select>
	
	<!-- 연락처 등록 -->
	<insert id="insertTellMe" parameterType="com.propofol.www.user.portfolio.vo.TellMeVO">
		INSERT INTO TELL_ME (USER_ID, PHONE_NO, EMAIL, BLOG) 
		VALUES (#{ user_id }, #{ phone_no }, #{ email }, #{ blog })
	</insert>
	
	<!-- 연락처 수정 -->
	<update id="updateTellMe" parameterType="com.propofol.www.user.portfolio.vo.TellMeVO">
		UPDATE TELL_ME
		SET PHONE_NO = #{ phone_no }, EMAIL = #{ email }, BLOG = #{ blog }
		WHERE USER_ID = #{ user_id }
	</update>
	
	<!-- 연락처 초기화 (삭제) -->
	<delete id="resetTellMe" parameterType="String">
		DELETE FROM TELL_ME WHERE USER_ID = #{ user_id }
	</delete>
</mapper>