#page-header {
	height: 56px;
}

#page-section {
	margin-top: 100px;
	margin-bottom: 100px;
	height: 800px;
}

#section-head {
	margin-right: 20px;
	margin-bottom: 20px;
}

#section-head ul {
	float: left;
	margin-top: 9px;
}

#section-head li {
	display: inline;
	padding-right: 20px;
	color: #FFFFFF;
}

#section-head a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#section-head a:hover {
	text-decoration: none;
	color: #0069d9;
}

#section-main {
	border: 2px solid #333;
	padding: 15px;
	height: 600px;
	font-size: 16px;
	font-family: ³ª´®°íµñ;
}

#section-footer {
	margin-top: 40px;
	text-align: center;
}

#page-footer {
	height: 132px;
}
