#page-header {
	height: 56px;
}

#page-section {
	min-height: 1600px;
	overflow: hidden;
}

#section-title {
	background: #FFFFFF url("http://211.63.89.132:8080/propofol_prj/common/images/background_sky.png") repeat-x;
	height: 210px;
	text-align: center;
}

#section-title h1 {
	padding-top: 65px;
	font-size: 60px;
	font-weight: bold;
	color: #FFFFFF;	
}

.clear-both {
	clear: both;
}

/* top button */
#topbutton {
	float: left;
	padding: 9px;
}

#section-search {
	border-bottom: 1px solid rgba(0, 0, 0, 0.05);
	height: 56px;
	background-color: #FFFFFF;
	box-shadow: 2px 1px 0px 0px rgba(0, 0, 0, 0.03);
}

/* fixed search bar */
.section-search-fixed {
	position: fixed;
	top: 56px;
	width: 100%;
	z-index: 1000;
}

#section-search-sb {
	float: right;
	padding-right: 9px;
}

/* search bar */
.searchbar {
	margin-bottom: auto;
	margin-top: auto;
	height: 38px;
	background-color: #353b48;
	border-radius: 30px;
	padding: 9px;
}

.search_input {
	color: white;
	border: 0;
	outline: 0;
	background: none;
	width: 0;
	caret-color:transparent;
	line-height: 18px;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_input {
	padding: 0 9px;
	width: 350px;
	caret-color:red;
	transition: width 0.4s linear;
}

.searchbar:hover > .search_icon {
	color: #e74c3c;
}

.search_icon {
	height: 20px;
	width: 20px;
	float: right;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	color:white;
}

/* image caption */
.portfolio-list {
	margin: 0px auto;
	width: 100%;
	min-height: 1240px;
}

.portfolio-list-caption {
	margin: 0px;
	padding: 0px;
	padding-top: 28px;
	padding-left: 28px;
}

.portfolio-list-caption-contents {
	position: relative;
	overflow: hidden;
	display: inline-block;
	padding: 10px;
	width: 340px;
	height: 340px;
	z-index: 999;
}

.portfolio-list-caption-title {
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    /* padding: 0px 4px; */
    /* padding: 16px 12px 8px 12px; */
    padding: 12px;
    bottom: 15px;
    width: 310px;
    height: 80px;
    color: #FFF;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.44) 75%, rgba(0, 0, 0, 0.22) 100%);
    z-index: -1;
}

.portfolio-list-caption-title-left {
	float: left;
}

.portfolio-list-caption-title-right {
	float: right;
}

.portfolio-list-caption-title-height {
	height: 28px;
}

.portfolio-list-caption-image {
	/* 
    position: absolute;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    padding: 0px 0px;
    width: 320px;
    height: 320px;
    z-index: 0;
     */
}

/* modal */
#modalView {
	padding: 0px;
	background-color: rgba(0, 0, 0, 0.88);
	z-index: 9999;
}

#modalDialog {
	max-width: 70%;
	width: auto;
	font-size: 16px;
	font-family: ³ª´®°íµñ;
}

#modalHeader {
	padding: 24px;
	height: 100px;
	color: #FFF;
	background-color: #000;
}

#modalBody {
	min-height: 600px;
}

/* portfolioView : ÀÚ±â¼Ò°³ */
.modal-body-title {
	margin: 35px 110px;
	font-size: 28px;
	font-weight: bold;
	font-family: ³ª´®°íµñ;
}

.modal-body-aboutMe {
	margin-top: 100px;
	font-size: 14px;
}

.modal-body-aboutMe-image {
	text-align: center;
}

.modal-body-aboutMe-title:disabled {
	margin-bottom: 53px;
	background-color: #FFF !important;
}

.modal-body-aboutMe-contents {
	background-color: #FFF !important;
	resize: none;
}

/* portfolioView : ±â¼ú ½ºÅÃ */
.modal-body-techStacks {
	margin-top: 100px;
	font-size: 14px;
}

.modal-body-techStacks-list {
	padding: 0px 115px;
	/* text-align: center; */
}

.modal-body-techStacks-list li {
	display: inline-block;
	padding: 10px;
	width: 145px;
	height: 145px;
}

.modal-body-techStacks-tech {
	padding: 0px 115px;
}

/* portfolioView : °ü·Ã °æÇè */
.modal-body-experience-edu {
	margin-top: 100px;
	font-size: 14px;
}

.modal-body-experience-edu-image {
	text-align: center;
}

.modal-body-experience-edu-title:disabled {
	margin-bottom: 53px;
	background-color: #FFF !important;
}

.modal-body-experience-edu-contents {
	background-color: #FFF !important;
	resize: none;
}

.modal-body-experience-prj {
	margin-top: 100px;
	font-size: 14px;
}

.modal-body-experience-prj-image {
	text-align: center;
}

.modal-body-experience-prj-title:disabled {
	margin-bottom: 53px;
	background-color: #FFF !important;
}

.modal-body-experience-prj-contents {
	background-color: #FFF !important;
	resize: none;
}

/* portfolioView : ¿¬¶ôÃ³ */
.modal-body-tellMe {
	margin-top: 100px;
	font-size: 14px;
}

.modal-body-tellMe-phoneNo {
	background-color: #FFF !important;
}

.modal-body-tellMe-email {
	background-color: #FFF !important;
}

.modal-body-tellMe-domain {
	background-color: #FFF !important;
}

.modal-body-tellMe-blog {
	background-color: #FFF !important;
}

#modalFooter {
	padding: 32px;
	margin-top: 110px;
	height: 100px;
	color: #FFF;
	background-color: #000;
}

#modalFooter > button {
	margin: 0px auto;
}

.modalHeader-wrap {
	margin-top: 4px;
}

.modalHeader-title {
	font-weight: bold;
}

.modalHeader-body {
	font-size: 14px;
}

.modalHeader-wide {
	margin: 0px 8px;
}

#section-head {
	margin-right: 20px;
	margin-bottom: 20px;
}

#section-head ul {
	float: left;
	margin-top: 9px;
}

#section-head li {
	display: inline;
	padding-right: 20px;
	color: #FFFFFF;
}

#section-head a {
	text-decoration: none;
	font-weight: bold;
	color: #000000;
}

#section-head a:hover {
	text-decoration: none;
	color: #0069d9;
}

#section-main {
	padding: 60px;
	min-height: 1200px;
	font-size: 16px;
	font-family: ³ª´®°íµñ;
}

#section-footer {
	margin-top: 40px;
	text-align: center;
}

#page-footer {
	height: 132px;
}