<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 
  	MyBatis의 환경 설정 (연동할 DB 설정)을 수행
  	설정 정보를 properties에 넣고 하는 것, 설정 정보를 직접 HardCoding 하는 방법 두 가지가 존재
   -->
<configuration>
<properties resource="properties/database.properties"/>
  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${userid}"/>
        <property name="password" value="${userpass}"/>
      </dataSource>
    </environment>
  </environments>
  <!-- 쿼리문을 가진 XML을 연결 -->
  <mappers>
    <mapper resource="com/propofol/www/user/mapper/portfolio_mapper.xml"/>
  </mappers>
</configuration>
